.role-2TIOKu:not(.member-perm){
    border:1px solid;
}
.rolesList-3uZoaa .role-2TIOKu {
    position: relative;
}
.roleCircle-1EgnFN:not(.perm-circle) {
    position: absolute;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-background-clip: text;
}
.rolesList-3uZoaa .roleCircle-1EgnFN:after {
    content: attr(aria-label);
    white-space: nowrap;
    color: transparent;
    margin-left:-73px;
}
.rolesList-3uZoaa .roleName-2ZJJYR {
    color: transparent;
}
img.roleIcon-3-WL_I.roleIcon-29epUq {
    display: none;
}
