/* user control area*/
.container-YkUktl .withTagAsButton-OsgQ9L, .container-YkUktl .withTagless-10ooWt{
    min-width: 55px !important;
    margin-right:0 !important;
    border-radius: 100% !important;
    background:transparent;
}
.nameTag-sc-gpq.canCopy-IgTwyV{
    width:0;display:none !important;
}
body #app-mount .panels-3wFtMD .container-YkUktl > .flex-2S1XBF > :first-child.button-12Fmur[aria-checked],
body #app-mount .panels-3wFtMD .container-YkUktl > .flex-2S1XBF > :first-child.button-12Fmur[aria-checked] + .button-12Fmur[aria-checked],
body #app-mount .panels-3wFtMD .container-YkUktl > .flex-2S1XBF > :first-child.button-12Fmur[aria-checked] + .button-12Fmur[aria-checked] + .button-12Fmur{
    margin-bottom: 15px !important;
}
.panels-3wFtMD .container-YkUktl:last-child .flex-2S1XBF {
  position                :               fixed;
  bottom                  :               calc(0% + 155px);
  left                    :               10px;
  width                   :               30px;
  z-index                 :               101;
  max-height              :               150px;
  justify-content         :               space-evenly;
  align-items             :               center;
  border-radius           :               var(--radius-primary);
  flex-direction          :               column;
  padding                 :               0px 10px;
}

.container-YkUktl:last-child .flex-2S1XBF>button {
  padding                 :               25px !important;
  margin                  :               0px;
  color                   :             #747474;
  border-radius           :               var(--radius-primary);
  transition              :               ease 0.3s;
}

.container-YkUktl:last-child .flex-2S1XBF>button:last-child {
  margin-top              :               5px;
  padding                 :               25px !important;
  position                :               fixed;
  bottom                  :               calc(0% + 90px);
  color                   :             #747474;
  border-radius           :               15px;
  transition              :               ease 0.3s;
}

.container-YkUktl:last-child .flex-2S1XBF>button:hover,
.container-YkUktl:last-child .flex-2S1XBF>button:last-child:hover {
  color                   :             #fff;
  border-radius           :               50%;
}

.panels-3wFtMD>.container-YkUktl:last-child>.avatarWrapper-1B9FTW {
  position                :               fixed;
  bottom                  :               calc(0% + 20px);
  left                    :               13.5px;
}

.panels-3wFtMD>.container-YkUktl:last-child .avatar-1EWyVD {
  width                   :               55px !important;
  height                  :               55px !important;
  border-radius           :               50% !important;
}

.panels-3wFtMD>.container-YkUktl:last-child .avatar-1EWyVD>svg {
  width                   :               55px;
  height                  :               55px;
  border-radius           :               50% !important;
}

.panels-3wFtMD>div:last-child {
  margin-bottom           :               0px;
  height                  :               0;
  width                   :               0;
}
